-- Fix function signature to match what the SDK/API expects
CREATE OR REPLACE FUNCTION public.create_post_rpc(
    user_id UUID,
    content TEXT,
    category TEXT,
    price NUMERIC,
    location TEXT,
    status TEXT,
    event_date TIMESTAMP WITH TIME ZONE,
    image_urls TEXT -- Using the parameter name that matches the error hint
) RETURNS VOID AS \$\$
BEGIN
    INSERT INTO public.posts (user_id, content, category, price, location, status, event_date, image_url)
    VALUES (user_id, content, category, price, location, status, event_date, image_urls);
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
