-- Drop and recreate function with parameter name 'image_urls' to match SDK
DROP FUNCTION IF EXISTS public.create_post_rpc(UUID, TEXT, TEXT, NUMERIC, TEXT, TEXT, TIMESTAMP WITH TIME ZONE, TEXT);

CREATE OR REPLACE FUNCTION public.create_post_rpc(
    user_id UUID,
    content TEXT,
    category TEXT,
    price NUMERIC,
    location TEXT,
    status TEXT,
    event_date TIMESTAMP WITH TIME ZONE,
    image_urls TEXT -- Matches what the SDK hint expects
) RETURNS VOID AS \$\$
BEGIN
    INSERT INTO public.posts (user_id, content, category, price, location, status, event_date, image_url)
    VALUES (user_id, content, category, price, location, status, event_date, image_urls);
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
