-- 1. Drop the existing function
DROP FUNCTION IF EXISTS public.create_post_rpc(UUID, TEXT, TEXT, NUMERIC, TEXT, TEXT, TIMESTAMP WITH TIME ZONE, TEXT);

-- 2. Create the function explicitly mapping the parameter 'image_urls' to column 'image_url'
CREATE OR REPLACE FUNCTION public.create_post_rpc(
    user_id UUID,
    content TEXT,
    category TEXT,
    price NUMERIC,
    location TEXT,
    status TEXT,
    event_date TIMESTAMP WITH TIME ZONE,
    image_urls TEXT
) RETURNS VOID AS \$\$
BEGIN
    INSERT INTO public.posts (user_id, content, category, price, location, status, event_date, image_url)
    VALUES (user_id, content, category, price, location, status, event_date, image_urls);
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
