-- Create a function to insert a post to bypass SDK schema cache
CREATE OR REPLACE FUNCTION public.create_post_rpc(
    user_id UUID,
    content TEXT,
    category TEXT,
    price NUMERIC,
    location TEXT,
    status TEXT,
    event_date TIMESTAMP WITH TIME ZONE,
    image_urls TEXT[]
) RETURNS VOID AS \$\$
BEGIN
    INSERT INTO public.posts (user_id, content, category, price, location, status, event_date, image_urls)
    VALUES (user_id, content, category, price, location, status, event_date, image_urls);
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
