-- Force column existence and correct function
ALTER TABLE public.posts ADD COLUMN IF NOT EXISTS image_url TEXT;

CREATE OR REPLACE FUNCTION public.create_post_rpc(
    user_id UUID,
    content TEXT,
    category TEXT,
    price NUMERIC,
    location TEXT,
    status TEXT,
    event_date TIMESTAMP WITH TIME ZONE,
    image_url_val TEXT
) RETURNS VOID AS \$\$
BEGIN
    INSERT INTO public.posts (user_id, content, category, price, location, status, event_date, image_url)
    VALUES (user_id, content, category, price, location, status, event_date, image_url_val);
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
